@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Arvo', serif;
}

header {
  text-align: center;
}
h1 {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 550px;
  margin: auto;
}

.container div.project {
  border: 1px solid black;
  height: 250px;
  width: 250px;
  margin: 15px;
  background-size: cover;
  background-position: center center;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #017ff5a9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  color: white;
  transition: all 0.3s ease;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project a.btn {
  text-decoration: none;
  font-size: 16px;
  padding: 0.8rem 1.5rem;
  background-color: hsla(0, 0%, 0%, 0.829);
  margin: 10px 0;
  color: white;
  transition: all 0.3s;
}
.title {
  padding: 0 20px;
  font-weight: bold;
  font-size: 25px;
  margin-top: 40%;
}

.project:hover .content {
  opacity: 1;
}
header i {
  font-size: 35px;
  margin: 10px;
}
header i.fa-linkedin {
  color: #0e76a8;
}

header i.fa-github {
  color: black;
}
footer {
  border-top: 1px solid black;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
}
a.btn:hover {
  transform: scale(0.9);
}

@media (max-width: 700px) {
  .content {
    opacity: 1;
  }
  h1{
    width:100%;
  }
}
