/* Body Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #efd5c3; /* Light blue background */
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px; /* Increased gap between project boxes */
  padding: 30px; /* Increased padding */
}

/* Project Box Styles */
.project {
  width: 300px; /* Slightly increased box size */
  height: 300px; /* Slightly increased box size */
  /* border-radius: 15px; Rounded corners */
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* Smooth hover effect */
}

/* Project Image Styles */
.project .image {
  flex: 1;
  padding: 8px 8px 0;
}
.project .image img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Project Content Styles */

/* Title Styles */
.project .title {
  color: white;
  padding: 8px;
  font-weight: bold;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0; /* Increased padding */
  position: fixed;
  bottom: 0;
  width: 100%;
}
